---
layout: default

### Hero Section
hero-title: Reclaim your digital sovereignity
hero-subtitle: Privately share and manage files and connected assets.
hero-description: <span class="company-name">Diode<span>TM</span></span> lets you retain the security and privacy of a local area network while enabling the convenience of remote accessibility - all without IT admins.

hero-xs-title: Reclaim your digital sovereignity
hero-xs-subtitle: Privately share and manage files and connected assets.
hero-xs-description: <span class="company-name">Diode<span>TM</span></span> lets you retain the security and privacy of a local area network while enabling the convenience of remote accessibility - all without IT admins.

### Feature Section
features:
  ### Feature 1
  - title: Private File Sharing
    description: >-
      Diode Drive enables businesses and individuals to keep files on local systems while unlocking the efficiencies that come with remote collaboration and sharing.  Files are synchronized with authenticated peers, and can be shared publicly or privately without requiring an account.  Collaboration is totally private (no user identity required) and file sharing does not require uploading the file to a centralized storage environment.
    xs-title: Private File Sharing
    xs-description: Diode Drive enables businesses and individuals to keep files on local systems while unlocking the efficiencies that come with remote collaboration and sharing.  Files are synchronized with authenticated peers, and can be shared publicly or privately without requiring an account.  Collaboration is totally private (no user identity required) and file sharing does not require uploading the file to a centralized storage environment.
    icon: svgs/remote-work.svg
    link-text: See Diode Drive
    link-url: products/d-drive/

  ### Feature 2
  - title: Data Sovereignity
    description: >-
      For too long, people have been trading privacy and data sovereignity for convenience, often against their better judgement!  Diode’s technologies enable every person and every business to reclaim sovereignity over their information, while also enabling all of the efficiency and access improvements that come with cloud-first storage solutions.  Our serverless technology retains compliance with your existing regulatory regime, and does not require IT support to maintain.
    xs-title: Decentralized Communications
    xs-description: Our decentralized routing and communications network is end to end encrypted and can handle all types of work loads.  Communications over the network are extremely resilient - they can initiate via any available node and they look just like any other secure Internet communication.  The Diode Network is the perfect solution for organizations building inherently secure communication applications, or looking to replace in-house relay servers that are not core competence.
    icon: svgs/data-sovereignity.svg
    link-text: Benefits for Compliance WITH Regulatory Regimes

    ### TODO: the link should be resolved
    link-url: products/d-drive/

  ### Feature 3
  - title: No IT Administration
    description: >-
      Other solutions require you to implement complicated IT technologies to manage sharing, or force you to use centrally managed servers that often have questionable privacy policies.  These alternatives require you to choose the lesser of two evils - a brittle, complicated, and costly IT system or a simpler system that requires undue trust in a third party vendor.  Both of these bad alternatives introduce points of vulnerability.  Diode brings the best of both worlds - our servers are fully trustless and open source, eliminating attack vectors and proving the security of your valuable data.
    xs-title: Web3 Devices
    xs-description: The Diode Network is the only public infrastructure that supports fully trustless interactions with devices and computing systems.  New types of Internet-based serverless devices are now possible, such as video cameras <Streaming Video (link to blog post on cameras)>, website hosting servers <Web3 Hosting>, file servers <Private Storage>, and IoT sensors <IoT>.  By building a Web3 device around Diode, product manufacturers get all of the security and connectivity of an Internet-based device, with none of the complexities or cost of cloud vendors, IT maintenance, or software upgrades.
    icon: svgs/no-it-administration.svg
    link-text: How It Works
    link-url: resources/how-it-works/
---

{% include header.html %} {% include sections/hero.html %} {% include
sections/features.html %} {% include sections/offer.html offer-text="Join the
conversation on Telegram" %} {% include sections/blog.html %}
