---
layout: default

hero-title: Reclaim your digital sovereignity
hero-subtitle: Share and manage files and internal systems without moving to the cloud
hero-description: <span class="company-name">Diode<span>TM</span></span> lets you retain the security and privacy of a local area network while enabling the convenience of remote accessibility - all without IT admins.

hero-xs-title: Web3 technologies <br/> for remote productivity
hero-xs-subtitle: Turn your on-premise system into a hybrid solution overnight.
hero-xs-description: At Diode, we help businesses, professionals, and individuals to retain the security and privacy of a local area network while enabling mobile sharing and accessibility.



features:
  ### Feature 1
  - title: Remote Work
    description: >-
      Diode is a great choice for businesses and individuals who want to keep their files on their local systems, but need to unlock the efficiencies that come with remote access.  Files are stored on your hard-drive, but can be shared with employees, partners, and customers as easily as cloud-based solutions.  Both native file synchronization and web-based sharing are supported, and permissions can be managed at a granular level.
    icon: svgs/remote-work.svg
    link-text: Solutions for remote Work
    link-url: https://www.electromaker.io/tutorial/blog/raspberry-pi-vpn-server

  ### Feature 2
  - title: Data Sovereignity
    description: >-
      For too long, people have been trading privacy and data sovereignity for convenience, often against their better judgement!  Diode’s technologies enable every person and every business to reclaim sovereignity over their information, while also enabling all of the efficiency and access improvements that come with cloud-first storage solutions.  Our serverless technology retains compliance with your existing regulatory regime, and does not require IT support to maintain.
    icon: svgs/data-sovereignity.svg
    link-text: Benefits for Compliance WITH Regulatory Regimes
    link-url: https://www.electromaker.io/tutorial/blog/raspberry-pi-vpn-server

  ### Feature 3
  - title: No IT Administration
    description: >-
      Other solutions require you to implement complicated IT technologies to manage sharing, or force you to use centrally managed servers that often have questionable privacy policies.  These alternatives require you to choose the lesser of two evils - a brittle, complicated, and costly IT system or a simpler system that requires undue trust in a third party vendor.  Both of these bad alternatives introduce points of vulnerability.  Diode brings the best of both worlds - our servers are fully trustless and open source, eliminating attack vectors and proving the security of your valuable data.  
    icon: svgs/no-it-administration.svg
    link-text: How It Works
    link-url: https://www.electromaker.io/tutorial/blog/raspberry-pi-vpn-server











about-title: Look mum, no server!
about-description: >-
    The Diode P2P network allows any device on the planet to directly serve secured content to the public Internet. 
    We're ending the monopoly of datacenter servers and the need for static IP addresses. With Diode, your Ethereum
    address is your static address, and, with ENS (Ethereum Name System) and BNS (Blockchain Name System), your content
    can be accessed with a human-readable names.


# Chinese Firewall https://news.ycombinator.com/item?id=15590912
# https://www.electromaker.io/tutorial/blog/raspberry-pi-vpn-server:
# 



---

{% include header.html %}

{% include sections/hero.html %}

{% include sections/features.html %}

{% include sections/offer.html offer-text="Join the conversation on Telegram" button-text="@diode_chain" link="https://t.me/diode_chain" %}

{% include sections/blog.html %}
