<!-- Hero Section -->
<section class="site-section hero-section" id="hero">
  <div class="container">

    <!-- Section Heading -->
    <div class="row">
      <div class="hero-text col-xs-12 col-md-8 col-lg-6">
        <!-- Section Title -->
        <h2 class="hero-title">{{ page.hero-title }}</h2>
        <!-- Section Subtitle -->
        <h3 class="hero-subtitle">{{ page.hero-subtitle }}</h3>
        <!-- Section Content -->
        <p class="hero-description">{{ page.hero-description }}</p>
      
        <div class="action-container">
          <a class="button action-button">
            Download <span class="company-name">dDrive<span>TM</span></span> for MacOS
          </a>
          <a class="action-link" href="">
            LEARN MORE
            <i class="pe-7s-angle-right"></i>
          </a>
          <div class="action-descriptoin">
            Available for <a href="">Windows</a>, <a href="">MacOS</a>, and <a href="">Linux</a> (<a href="">Raspberry Pi</a>)
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
