<!-- Products Section -->
<section class="site-section section-focus products-pricing-section" id="products-pricing">
  <div class="container">

    <!-- Products Pricing Page Title -->
    <h2 class="site-section__title">{{ page.header-title }}</h2>


    <!-- Products Pricing Cards (Desktop) -->
    <div class="plans row hidden-xs">
      <div class="col-blank col-blank--text">
        All plans include access to the <a href="products/diode-network">Diode Network Explorer</a> and use of the <a href="products/diode-cli">Diode CLI</a>
      </div>
      {% for plan in page.plans %}
        <div class="col-plan">
          <div class="plan">
            <div class="plan__title">
              {{ plan.title }}
            </div>
            <div class="plan__description">
              {{ plan.description }}
            </div>
            <div class="plan__price">
              ${{ plan.price }}<span>/MO</span>
            </div>

            <div class="plan__action">
              <a class="button"> GO! </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Products Pricing Table (Desktop) -->
    <div class="pricing-table hidden-xs">
      {% for item in page.items %}
        <div class="row plans">
          <div class="col-blank">
            {{ item.title }}
          </div>
          {% for plan in item.plans %}
            <div class="col-plan">
              {% if plan.value != true and plan.value != false %}
                {{ plan.value }}
              {% else %}
                {% if plan.value  %}
                  Yes
                {% else %}
                  No
                {% endif %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <!-- Products Pricing Plans (Mobile) -->
    <div id="plans_xs" class="plans plans--xs owl-carousel hidden-sm hidden-md hidden-lg">
      {% for plan in page.plans %}
        {% assign outer_forloop = forloop %}
        <div class="col-plan">
          <div class="plan">
            <div class="plan__title">
              {{ plan.title }}
            </div>
            <div class="plan__description">
              {{ plan.description }}
            </div>
            <div class="plan__price">
              ${{ plan.price }}<span>/MO</span>
            </div>

            <div class="plan__action">
              <a class="button"> GO! </a>
            </div>

            <div class="plan__features">
              <ul>
                {% for item in page.items %}
                  {% assign title = tem.title %}
                  {% assign value = item.plans[outer_forloop.index0].xs-value %}
                  {% if value and value != "None" %}
                  <li>
                    {% if value == true %}
                      {{ item.title }}
                    {% else %}
                      {{ value }}
                    {% endif %}
                  </li>
                  {% endif %}
                 {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Products Pricing Page Description -->
    <h3 class="products-section__description">{{ page.header-description }}</h3>

    <!-- Contact us -->
    <div class="products-pricing__contact-us">
      <a id="contact-us" class="button button--outline" href="{{ site.links.contact_us }}">
        CONTACT US
      </a>
    </div>
  </div>
</section>
