<!-- Solutions Download Section -->
<section class="site-section section-focus solutions-download-section" id="solutions-download">
  <div class="downloads">
    <div class="container">
      <div class="row hidden-xs">
        {% for download in page.downloads %}
        <div class="download col-sm-6 col-xs-12">
          <div class="download-title-container">
            <img src="{{ download.icon }}">
            <h2 class="download-title">
              {{ download.title }}
            </h2>
          </div>
          <p class="download-description">
            {{ download.description }}
          </p>
          <a class="button" href="{{ download.link-url }}">{{ download.link-text }}</a>
        </div>
        {% endfor %}
      </div>
      <div class="row hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12 download--xs">
          <h3 class="download-title">Product 1 Highlight:</h3>
          <a class="download-link link">
            DIODE DRIVE
          </a>
          <p class="download-description">
            Existing file servers and new Diode-enabled NAS systems can use Diode Drive to combine the privacy and compliance benefits of local storage with the benefits and efficiency of remote access.
          </p>
        </div>
        <div class="col-xs-12 download--xs">
          <h3 class="download-title">Product 2 Highlight:</h3>
          <a class="download-link link">
            DIODE NETWORK
          </a>
          <p class="download-description">
            The Diode Network is the world’s only fully decentralized communications network capable of supporting the needs of private, secure communications for the enterprise.
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="contact-us">
    <div class="contact-us__card">
      <div class="description">
        {{ page.contact_us.text }}
      </div>
      <a class="button button--outline hidden-xs" href="">Contact Us</a>
      <a class="button hidden-sm hidden-md hidden-lg" href="">Contact Us</a>
    </div>
  </div>
</section>
