<!-- Site Header -->
<header class="site-header" id="home" data-scrollax-parent="true">

  <div class="container">
    <!-- Site Navigation Bar -->
    <div class="row site-navigation-bar parent">
      <!-- Logo -->
      <div class="col-md-2 col-xs-4 logo">
        <a href=""
          ><img
            src="images/logo.svg?{{site.time | date: '%s%N'}}"
            alt="Diode - Logo"
        /></a>
      </div>

      <!-- Toggle Mobile Menu -->
      <div class="col-xs-8 toggle-menu">
        <!-- Burger -->
        <div class="navTrigger"><i></i><i></i><i></i></div>
      </div>

      <!-- Navigation Bar -->
      <div class="col-sm-10 col-xs-8 navigation-bar">
        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
          <ul class="menu">
            {% for nav in site.navigation %}
              {% if nav.is_button %}
                <li>
                  <a class="button nav-button" href="{{ nav.link }}">{{ nav.title }}</a>
                </li>
              {% elsif nav.target %}
                <li>
                  <a  class="nav-link" href="{{ nav.link }}" target="{{ nav.target }}"
                    >{{ nav.title }}</a
                  >
                </li>
              {% elsif nav.subs %}
                <li class="subnav">
                  <a class="nav-link" href="{{ nav.link }}">{{ nav.title }}</a>
                  <div class="subnav-content">
                    <div class="row container">
                      {% for subnav in nav.subs %}
                        <div class="col-sm-4">
                          <a href="{{ subnav.link }}">{{ subnav.title }}</a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </li>
              {% else %}
                <li>
                  <a  class="nav-link" href="{{ nav.link }}">{{ nav.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

  <!-- Overlay Lightbox -->
  <div id="video_overlay" class="overlay"></div>
</header>
