/**
 *
 *  Features Section Style
 *
 *  @package gleesik_layout
 *
 **/

section.features-section {
  background-color: $white;
  // Feature
  .feature {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 30px;
    }

    &-content {
      order: 1;
    }
    &-icon {
      order: 2
    }

    &:nth-child(even) {
      .feature-content {
        order: 2;
      }
      .feature-icon {
        order: 1
      }
    }

    .feature-title {
      font-size: 2em;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: $web-blue;
    }

    .feature-description {
      font-size: $text-font-size-1;
      margin-bottom: 30px;
    }
  }
  // CONTACT US and LEARN MORE
  .feature-more {
    &>div:first-child {
      
      .contact-button {
        display: block;
        width: fit-content;
        font-weight: 700;
        margin-right: 20px;
        margin-left: auto;
      }
    }
    &>div:last-child {
      a {
        margin-left: 20px;
      }
    }
  }

}
