/**
 *
 *  Footer Style
 *
 *  @package gleesik_layout
 *
 **/

footer.site-footer {
  position: relative;
  color: $footer-color;
  background-color: $black-blue;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  .row {
    align-items: flex-start;
    // Footer menus
    .footer-menu {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 30px;

      &__col {
        &.quick-menu {
          display: none;
        }
        .footer-link {
          font-size: $text-font-size-2;
          color: $white;
          font-weight: 600;
          text-decoration: underline;
          line-height: 2.5;
          &:hover {
            color: $orange;
          }
        }
        ul {
          li {
            a {
              font-size: $text-font-size-1;
              color: $white;
              font-weight: 400;
              line-height: 2.5;
              &:hover {
                color: $orange;
              }
            }
          }
        }
      }
    }

    // Footer socials
    .footer-socials {
      display: flex;
      justify-content: space-between;
      max-width: 250px;
      min-width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      a {
        font-size: 1.8em;
        color: $white;
        line-height: 1.5;
        &:hover {
          color: $orange;
        }
      }
    }


    // Footer texts
    .footer-logo {
      img {
        width: 100px;
      }
    }
    .footer-text {
      display: flex;
      justify-content: space-between;
      height: 35px;
      align-items: center;
      font-size: 1em;
      color: $light-gray;
      .v-cross {
        width: 1px;
        height: 20px;
        background: $light-gray;
      }
    }
  }
}

@media (max-width: 720px) {
  footer.site-footer {

    .row {
      .footer-menu {
        justify-content: center;
        &__col {
          &.quick-menu {
            display: block;
            .footer-link {
              text-decoration: none;
              line-height: 3.5;
            }
          }
          &.full-menu {
            display: none;
          }
        }
      }
    }
  }
}
