/**
 *
 *  Hero Section Style
 *
 *  @package gleesik_layout
 *
 **/

// Silence is golden.

section.site-section.hero-section {
    background-color: $web-blue;
    color: $white;
    background-image: url('/images/hero-right.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;

    .container .row {
        justify-content: left;

        .hero-title {
            font-size: 3em;
            line-height: 1.2;
            position: relative;
            margin-bottom: 30px;
            &::after {
                content: '';
                position: absolute;
                width: 220px;
                background-color: $orange;
                height: 2px;
                bottom: -7px;
                left: 0;
            }
        }
        .hero-subtitle {
            font-size: 1.7em;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        .hero-description {
            margin-bottom: 80px;
        }
        .company-name {
            position: relative;
            margin-right: 20px;
            span {
                position: absolute;
                font-size: .6em;
            }
        }
        .action-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .action-link {
                color: $white;
                font-size: $text-font-size-1;
                display: flex;
                align-items: center;
                i {
                    font-weight: 700;
                    font-size: 1.6em;
                }
                &:hover {
                    color: $orange;
                }
            }

            .action-descriptoin {
                position: absolute;
                bottom: -1.8em;
                font-size: .58em;
            }
        }
    }
}