section.products-pricing-section {
    background-color: $white !important;
    padding: 10px 0 60px;
  
    .products-section__description {
      margin: 0 auto 60px auto;
      font-size: $title-font-size-1;
      line-height: 1.5;
      font-weight: 400;
      color: $gray;
      text-align: center;
      max-width: 900px;

      @media (max-width: 993px) {
        font-size: $text-font-size-2;
      }

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  
    .products-pricing__contact-us {
      display: flex;
      justify-content: center;
    }
  
    .plans {
      .col-blank {
        width: 350px;
      }
      .col-plan {
        width: calc((100% - 350px) / 3);
        padding: 15px;
      }

      @media (max-width: 1199px) {
        .col-blank {
            width: 250px;
        }
        .col-plan {
            width: calc((100% - 250px) / 3);
            padding: 15px;
        }
      }
      @media (max-width: 993px) {
        .col-blank {
            width: 180px;
        }
        .col-plan {
            width: calc((100% - 180px) / 3);
            padding: 15px;
        }
      }
      // pricing card
      .plan {
        border: 1px solid $orange;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        height: 285px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
  
        &__title {
          font-size: $text-font-size-2;
          color: $dark-blue;
        }
        &__description {
          color: $dark-blue;
          line-height: 1.5;
          letter-spacing: 1px;
        }
        &__price {
          color: $dark-blue;
          font-size: $title-font-size-2;
          &>span {
            font-size: $text-font-size-2;
            color: $orange;
          }
        }

        @media (max-width: 993px) {
            &__price {
                font-size: 34px;
                &>span {
                    font-size: 18px;
                }
            }
        }

      }
  
      
    }
    
    // pricing table
    .pricing-table {
      margin-bottom: 60px;
      .row.plans {
        border-top: 1px solid $web-gray;
  
        &:last-child {
          border-bottom: 1px solid $web-gray;
        }
  
  
        .col-blank {
          color: $orange;
          font-size: $text-font-size-2;
          line-height: 1.2;
        }
        .col-plan {
          border-left: 1px solid $orange;
          background-color: $web-blue;
          color: $white;
          text-align: center;
          font-size: $text-font-size-2;
          text-transform: uppercase;
          font-weight: 400;
          min-height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          line-height: 1.2;
          &>.ammount--tip {
            font-size: $text-font-size-1;
          }
          &>.has-asterisk {
            position: relative;
            &::after {
              position: absolute;
              content: '*';
              right: -10px;
            }
          }
        }
        @media (max-width: 993px) {
            .col-plan, .col-blank {
                font-size: $text-font-size-1;
            }
        }
      }
    }
  
  }