// Typography
$font-family: 'Titillium Web'; // Google Font
$global-font-size: 1rem;
$text-font-size-1: 1.2rem;
$text-font-size-2: 1.3rem;
$title-font-size-1: 2.0rem;
$title-font-size-2: 3rem;
$title-font-size-3: 64px;

$text-font-size-1-xs: 1.05rem;
$text-font-size-2-xs: 1.2rem;
$title-font-size-1-xs: 1.7rem;
$title-font-size-2-xs: 2.2rem;

// Animations Timing
$transition-links: 300ms;
$animation-arrow-header-time: 2.5s;

// Animations Types
$transition-links-type: ease-in-out;
$animation-arrow-header-type: ease-in-out;

// Menu
$desktop-header-height: 6.5rem;

// Mobile Menu Settings
$mobile-header-height: 5.5rem;

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 12;
