---
layout: default
header-title: Plans and Pricing
header-description: Our mission is to empower secure communication with edge infrastructure. 

plans:
  - title: Nomad
    description: Try it out!  Great plan for yourself, friends, and family.
    price: 
      yearly: 0
      full-year: 0
      monthly: 0
    action: resources/download
    action-name: Get Nomad
    items:
      - title: 3 Peers
      - title: Private drive collaboration
      - title: Link sharing
      - title: Unlimited subscriptions
      - title: Unlimited storage

  - title: Freelancer
    description: Great fit for independent professionals.
    price: 
      yearly: 2
      full-year: 24
      monthly: 3
    action: resources/download
    action-name: Contact Us
    items:
      - title: Minimum 5 Peers
      - title: Private drive collaboration
      - title: File sharing via link
      - title: Unlimited suscriptions
      - title: Unlimited storage

  - title: Business
    description: Perfect for small businesses and multi-site operations.
    price:
      yearly: 4
      full-year: 48
      monthly: 5
    action: https://t.me/diode_chain
    action-name: Contact Us
    items:
      - title: All Nomad +
      - title: Link sharing
      - title: Web access
      - title: Subfolder permissions
      - title: Headless backups
      - title: Business support


  - title: Enterprise
    description: For advanced IT and team collaboration needs.
    price:
      yearly: 8
      full-year: 96
      monthly: 10
    action: https://t.me/diode_chain
    action-name: Contact Us
    items:
      - title: All Business +
      - title: Data room insights
      - title: User administration
      - title: Versioning and recovery
      - title: Private cloud backups
      - title: Priority bandwidth
      - title: Enterprise support

items:
  - title: Drives
    plans:
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $5 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $4 / Drive / Mo</div>
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $5 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $4 / Drive / Mo</div>
      - monthly: <div class="ammount">1</div><div class="ammount--tip">+ $20 / Drive / Mo</div>
        yearly: <div class="ammount">1</div><div class="ammount--tip">+ $16 / Drive / Mo</div>
  - title: Users / Shares
    plans:
      - monthly: <div class="has-asterisk">Unlimited*</div>
        yearly: <div class="has-asterisk">Unlimited*</div>
      - monthly: <div class="ammount has-asterisk">10*</div><div class="ammount--tip">+ $3 / User / Mo</div>
        yearly: <div class="ammount has-asterisk">10*</div><div class="ammount--tip">+ $2 / User / Mo</div>
      - monthly: <div class="ammount has-asterisk">20*</div><div class="ammount--tip">+ $6 / User / Mo</div>
        yearly: <div class="ammount has-asterisk">20*</div><div class="ammount--tip">+ $5 / User / Mo</div>
  - title: Storage
    plans:
      - monthly: Unlimited
        yearly: Unlimited
      - monthly: Unlimited
        yearly: Unlimited
      - monthly: Unlimited
        yearly: Unlimited
  - title: Link Sharing
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Data Room
        yearly: Data Room
  - title: Web Access
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Yes
        yearly: Yes
  - title: Sub-Folder Permissions
    plans:
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
      - monthly: Administrated
        yearly: Administrated
  - title: Versions
    plans:
      - monthly: No
        yearly: No
      - monthly: No
        yearly: No
      - monthly: Yes
        yearly: Yes
  - title: Backup / Headless
    plans:
      - monthly: Via Share
        yearly: Via Share
      - monthly: On Premise
        yearly: On Premise
      - monthly: Hosted
        yearly: Hosted
  - title: QOS
    plans:
      - monthly: Per Availability
        yearly: Per Availability
      - monthly: Basic
        yearly: Basic
      - monthly: Premium
        yearly: Premium
  - title: Support
    plans:
      - monthly: None
        yearly: None
      - monthly: Basic
        yearly: Basic
      - monthly: Premium
        yearly: Premium

---

{% include header.html %}
{% include breadcrumbs.html %}

{% include sections/products-pricing.html %}
