---
layout: default
title: dDrive Plans and Pricing
description: Our mission is to empower secure communication with edge infrastructure. 

plans:
  - title: Nomad
    description: Try it out!  Great plan for yourself, friends, and family.
    price: 0,
    action: https://
  - title: Business
    description: Perfect for small businesses and multi-site operations.
    price: 49,
    action: https://
  - title: Enterprise
    description: For advanced IT and team collaboration needs.
    price: 199,
    action: https://

items:
  - title: Drives
    plans:
      - value: <div class="ammount">1</div><div class="ammount--tip">+ $5 / Drive</div>
      - value: <div class="ammount">1</div><div class="ammount--tip">+ $5 / Drive</div>
      - value: <div class="ammount">1</div><div class="ammount--tip">+ $20 / Drive</div>
  - title: Users / Shares
    plans:
      - value: <div class="has-asterisk">Unlimited</div>
      - value: <div class="ammount">10</div><div class="ammount--tip">+ $3 / User</div>
      - value: <div class="ammount">20</div><div class="ammount--tip">+ $6 / Drive</div>
  - title: Storage
    plans:
      - value: Unlimited
      - value: Unlimited
      - value: Unlimited
  - title: Link Sharing
    plans:
      - value: No
      - value: Yes
      - value: Data Room
  - title: Web Access
    plans:
      - value: No
      - value: Yes
      - value: Yes
  - title: Sub-Folder Permissions
    plans:
      - value: No
      - value: Yes
      - value: Administrated
  - title: Versions
    plans:
      - value: No
      - value: No
      - value: Yes
  - title: Backup / Headless
    plans:
      - value: Via Share
      - value: On Premise
      - value: Hosted
  - title: Web Access
    plans:
      - value: No
      - value: Yes
      - value: Yes
  - title: QOS
    plans:
      - value: Per Availability
      - value: Basic
      - value: Premium
  - title: Web Access
    plans:
      - value: No
      - value: Yes
      - value: Yes
  - title: Support
    plans:
      - value: None
      - value: Basic
      - value: Premium

---

{% include header.html %}

{% include breadcrumbs.html %}

{% include sections/products-pricing.html %}
