---
layout: default
title: Share Files AND Maintain Privacy
description: Regain control of your files - get all of the convenience of cloud storage with none of the privacy invasion.
solutions:
  - title: Friends and Family
    description: You can share your files with family and friends with full confidence that they are the only ones with access to your information.
  - title: Photos & Videos
    description: dDrive enables a cloud experience with lower cost storage and ensures that images of your loved ones are not feeding algorithms that prey on your data.
  - title: Trustless
    description: Diode’s technologies are “trustless” - you don’t have to trust what we say (or don’t say) to know that your information is secure.  

downloads:
  - title: dDRIVE
    description: dDrive combines the privacy and compliance benefits of local storage with the benefits and efficiency of remote access.
    link-url: https://
    link-text: GET dDrive
    icon: /images/diode-drive.png

  - title: DIODE CLI
    description: The Diode CLI is used to maintain systems in hard-to-access facilities and to securely publish data streams and web properties.
    link-url: https://
    link-text: GET DIODE CLI
    icon: /images/diode-client.png
contact_us:
  link: http://
  text: The Diode team loves seeing how our products enable people and businesses to regain control and privacy of their information and systems.  If there is an opportunity to help you find the right balance for your endeavor, please get in touch!
---

{% include header.html %}

{% include breadcrumbs.html %}

{% include sections/solutions.html %}
{% include sections/solutions-download.html %}

{% include sections/blog.html %}
